<table>
  <tr>
    <td colspan="5">
      <h3>Выбранные блюда:</h3>
    </td>
  </tr>
  <tr *ngFor="let item of order.items">
    <td>
      <a routerLink="/food/{{ item.food.id }}">
        <img [src]="item.food.imageUrl" />
      </a>
    </td>
    <td>
      {{ item.food.name }}
    </td>
    <td>
      {{ item.food.price | currency : "RUB" : "symbol-narrow" : "1.1-1" }}
    </td>
    <td>
      {{ item.quantity }}
    </td>
    <td>
      {{ item.price | currency : "RUB" : "symbol-narrow" : "1.1-1" }}
    </td>
  </tr>
  <tr>
    <td colspan="3"></td>
    <td>
      <strong> Всего : </strong>
    </td>
    <td>
      <strong>
        {{ order.totalPrice | currency : "RUB" : "symbol-narrow" : "1.1-1" }}
      </strong>
    </td>
  </tr>
</table>
